*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:none; /*Amcham*/
}

body > main > section > * {
    height: auto; /*Mejor checar si quiero que todos tengan cierto alto*/
    width: 50%;
    border: 1px black solid;

}

section{
    height: auto;
    display: flex;
    flex-direction: column;
}
main > section {
    margin: 20px 0 50px 40%;
}

h1, h2{
    text-align: center;
}

#top-label{
    border-top-left-radius: 10px;
    border-top-right-radius: 25px;
    
}

label{
    background-color: steelblue;
    text-align: center;
    border-style: outset;
}

button{
    background-color: brown;
    color: white;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 25px;
}
section > article{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 25px;
    
    
    
}
 #mostrarResultados{     
    
    
    text-align: center;
}
img{
    margin-top: 20px;
    border-radius: 20px ;
}

#animation{

    margin-top: 40px;
}



#animation::before{
    content:'before';
    background-color: red;
    display: block;
    height: 20px;
    width: auto;
   
    
}

#animation::after{
    content: 'after in block';
    height: 20px;
    width: auto;
    background-color: rgba(9, 110, 144, 0.758);
    display: block;
}

h1::before{
    content:'';
    height: 30px;
    background: rgb(6, 93, 122);
    width: 50px;
    display: inline-block;
    /*inline-block*/


}

h1::after{
    content:'';
    height: 30px;
    background: rgb(6, 93, 122);
    width: 50px;
    display: inline-block;
    
}