*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

h1, h2{
    text-align: center;
}

body > section > article{
    border: 2px black solid;
    height: auto;
    width: 50%;
    text-align: center;
    margin:20px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

body > section > article > button{
    width: auto;
    bottom:0;
    margin-top: 38px;
    background-color: #095d88;
    color:white;
    position: relative;
    margin-top: 10px;
    
}

body > section > p{
    color: #fff;
    background-color:#114b5f;
    height: auto;
    width:50%;
    text-align: center;
  
    
}



